---
import { getCollection } from 'astro:content';

import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import PortfolioPreviewStage from '../components/PortfolioPreviewStage.astro';
import Hero from '../components/Hero.astro';
import Grid from '../components/Grid.astro';

const projects = (await getCollection('stage')).sort(
	(a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf()
);
---

<BaseLayout
	title="Stage | Victoria Carré"
	description="Stage de victoria Carré"
>
	<div class="stack gap-20">
		<main class="wrapper stack gap-8">
			<Hero
				title="Mes Stages"
				tagline="Découvrez mes Stages"
				
			/>
			<Grid variant="offset">
				{
					projects.map((project) => (
						<li>
							<PortfolioPreviewStage project={project} />
						</li>
					))
				}
			</Grid>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>
